.table {
   padding-bottom: 1em;
   border-collapse: collapse;
}

.tableRow {
   padding-bottom: 1em;
}

.even, .odd {
   background: #f2f2f2;
}

#positive {
   /* material-ui green500 */
   color: #4CAF50;
}

#negative {
   /* material-ui red500 */
   color: #F44336;
}


#team1 {
   color: blue;
}

#team2 {
   /* material-ui cyan500 */
   color: #00BCD4;
}

.tableCell {
   padding-left: 0.75em;
   padding-right: 0.75em;
   padding-top: 0.25em;
   padding-bottom: 0.25em;
}

.tableCellBreak {
   border: none;
   padding-left: 0;
   padding-top: 1em;
}

.bold {
   font-weight: bold;
}

.medium {
   font-size: 110%;
}

.large {
   font-size: 125%;
}
