.table {
   padding-bottom: 1em;
   border-collapse: collapse;
}

.tableRow {
   padding-bottom: 1em;
}

.even, .odd {
   background: #f2f2f2;
}

#positive {
   color: green;
}

#negative {
   color: maroon;
}

.impCell {
   font-size: 125%;
}

.tableCell {
   padding-left: 0.75em;
   padding-right: 0.75em;
   padding-top: 0.25em;
   padding-bottom: 0.25em;
}

.tableCellBreak {
   border: none;
   padding-left: 0;
   padding-top: 1em;
   font-weight: bold;
   font-size: 110%;
}
